body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0;
}

.form-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.name-container {
    /* width: calc(33.33% - 10px); */
    width: 80%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
}

.name-container.checked {
    background-color: rgb(136, 216, 139); /* Зеленый цвет, если отмечено */
}
.name-container.checked.now {
    background-color: rgba(208, 218, 24, 0.523); /* Зеленый цвет, если отмечено */
}



input[type="checkbox"] {
    display: none; /* Скрываем стандартные чекбоксы */
}
