<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}
span{
    margin: auto;
    font-size: 30px;
    color: red;
}
    </style>
</head>
<body>
    <div class="container">
        <span>Сегодня выходной день. Данные появятся в понедельник. Отдыхай.</span>
 </div>
</body>
</html>